.input {
  box-sizing: border-box;
  inline-size: 21.25rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  border: 1px solid #A6A6A6;
  outline: none;
}

.input:focus {
  border-color: #333333;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-label {
  margin-bottom: 4px;
  font-weight: 500;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}